{% extends 'base.html' %}

{% block content %}

<div id="QUESTIONS">
<!--==============================QUESTION 26=========================================  -->


<form onsubmit="check26(); return false">
    <h2>Task 26</h2> 
<p>What would you expect the output of this code to be?</p>

<code>for i in range(5):<br><br> 

    print("hello ") </code>


    <input type="text" id="q26">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 27=========================================  -->


<form onsubmit="check27(); return false">
    <h2>Task 27</h2> 
<p>A while loop in Python is used for what type of iteration?</p>
<or>
      <li>Indeterminate</li>
      <li>Indefinite</li>
      <li>Discriminant</li>
      <li>Definite</li>
</or>


    <input type="text" id="q27">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 28=========================================  -->


<form onsubmit="check28(); return false">
    <h2>Task 28</h2> 
<p>What would I need to add to line 3 to stop this programme running infinitely?</p>

<code>
1.    n = 5<br><br>
2.    while n > 0:<br>
3.    <br>
4.    print(n)
 </code>

    <input type="text" id="q28">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 29=========================================  -->


<form onsubmit="check29(); return false">
    <h2>Task 29</h2> 
<p>What is this data type?</p>

<code>
True
 </code>

    <input type="text" id="q29">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 30=========================================  -->


<form onsubmit="check30(); return false">
    <h2>Task 30</h2> 
<p>How would you make this code a comment?</p>

<code>
This is a comment
 </code>

    <input type="text" id="q30">
    <input class="btn" type="submit" value="Submit">
</form>
</div>

<nav>
    <a href="/next4">
        <button> ← Back</button>
    </a>
    <a href="/">
        <button>Home 🏠 </button>
    </a>
</nav>

{% endblock %}