{% extends 'base.html' %}

{% block content %}
    <div id="QUESTIONS">
    <!--==============================QUESTION 21=========================================  -->


<form onsubmit="check21(); return false">
    <h2>Task 21</h2> 
<p>What method would you use to remove the last item from your list?</p>


    <input type="text" id="q21">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 22=========================================  -->


<form onsubmit="check22(); return false">
    <h2>Task 22</h2> 
<p>Using a for loop, how would you write a programme that counts from 1-10?</p>


    <input type="text" id="q22">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 23=========================================  -->


<form onsubmit="check23(); return false">
    <h2>Task 23</h2> 
<p>Now what would you add to the code to print 1-10 in the terminal?</p>


    <input type="text" id="q23">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 24=========================================  -->


<form onsubmit="check24(); return false">
    <h2>Task 24</h2> 
<p>So taking the previous code into account, how would you count to 10 in increments of</p>


    <input type="text" id="q24">
    <input class="btn" type="submit" value="Submit">
</form>

<!--==============================QUESTION 25=========================================  -->


<form onsubmit="check25(); return false">
    <h2>Task 25</h2> 
<p>How would you write a programme to make the numbers count backwards?</p>


    <input type="text" id="q25">
    <input class="btn" type="submit" value="Submit">
</form>

</div>

<nav>
    <a href="/next3">
        <button> ← Back</button>
    </a>
    <a href="/next5">
        <button>Next → </button>
    </a>
    
</nav>
{% endblock %}
